<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mabatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudcultivation.dao.GoodsMapper">

    <!--通过id查询商品信息-->
    <select id="selectGoodsById" parameterType="Integer"
            resultMap="selectGoodsResult">
        SELECT *
        FROM goods
        WHERE goods_id=#{id}
    </select>
    <resultMap id="selectGoodsResult" type="goods">
        <id property="id" column="goods_id"/>
        <result property="name" column="goods_name"/>
        <result property="type" column="goods_type"/>
        <result property="price" column="goods_price"/>
        <result property="description" column="description"/>
        <result property="growth" column="goods_growth"/>
        <result property="yield" column="goods_yield"/>
        <result property="amount" column="goods_amount"/>
        <result property="remain" column="goods_remain"/>
        <result property="check" column="goods_check"/>
        <!--外键 merchant_id-->
        <association property="merchant" column="merchant_id"
                     select="com.cloudcultivation.dao.MerchantMapper.selectMerchantById"
                     javaType="merchant"/>

        <!--一对多 多个orders-->
        <collection property="ordersList" javaType="list" column="goods_id"
                    select="com.cloudcultivation.dao.OrdersMapper.selectOrdersByGoodsId"
                    ofType="orders"/>
    </resultMap>



    <!--通过商家id查询商品-->
    <select id="selectGoodsByMerchantId" parameterType="Integer"
            resultMap="selectGoodsResult">
        SELECT *
        FROM goods
        WHERE merchant_id=#{merchantId}
    </select>

    <!--查询所有商品信息-->
    <select id="selectAllGoods" parameterType="Integer"
            resultMap="selectGoodsResult">
        SELECT * FROM goods
    </select>


    <!--添加新商品信息-->
    <insert id="addGoods" parameterType="goods">
        INSERT INTO
            goods(goods_id, goods_name, goods_type, merchant_id, goods_price, goods_description, goods_growth, goods_yield, goods_amount)
        VALUES (#{id},#{name},#{type},#{merchant.id},#{price},#{description},#{growth},#{yield},#{amount})
    </insert>


    <!--更新商品信息-->
    <update id="updateGoods" parameterType="goods">
        UPDATE goods
        SET merchant_id=#{merchant.id}, goods_id=#{id}, goods_name=#{name}, goods_type=#{type},
            goods_price=#{price}, goods_description=#{description}, goods_growth=#{growth}, goods_yield=#{yield}, goods_amount=#{amount}
        WHERE goods_id = #{id}
    </update>

    <!--通过ID删除商品信息-->
    <delete id="deleteGoodsById" parameterType="Integer">
        DELETE FROM goods
        WHERE goods_id = #{id}
    </delete>
</mapper>